{{ define "main" }}
<main id="content" class="site-content list">
    <header>
        <h1><span style="text-transform: capitalize">{{ .Title }}</span></h1>
    </header>
    <div class="list-term list-{{ .Type }}">
    {{ if eq .Type "tags" }}
      {{ range sort .Paginator.Pages "Title" }}
          {{ partial "term/list-item" . }}
      {{ end }}
    {{ else }}
      {{ range sort .Paginator.Pages "Date" "desc" }}
          {{ partial "term/list-item" . }}
      {{ end }}
    {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
</main><!-- #content -->
{{ end }}
