.mailchimp-form {
  background-color: $color-dark;
  color: #fff;
  padding: 2rem;
  border-radius: 4px;
  ul{
    margin-top: 0;
    margin-bottom: 15px;
  }
  h2 {
    margin-top: 0;
    @include font-size(1.5);
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .mc-field-group {
    display: flex;
    input[type="email"] {
      width: 100%;
      border-radius: 4px 0 0 4px;
      padding: 10px;
      outline: none;
      box-shadow: none;
      border: none;
      @include font-size(1);
    }
    input[type="submit"] {
      border-radius: 0 4px 4px 0;
      cursor: pointer;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      padding-left: 25px;
      margin-bottom: 0;
      position: relative;
      &:before {
        left: 5px;
        position: absolute;
        content: "-";
        display: inline-block;
      }
    }
  }
}
