.toc{
  position: absolute;
  left: 50%;
  width: 250px;
  padding: 0 .5rem;
  margin-left: 380px;

  @media (max-width: $break-tablet) {
    display: none;
  }

  &__title{
    display: none;
    margin: 0;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: 10px;
    line-height: 1.2;
    > ul {
      padding-left: 8px;
    }
  }

  a {
    @include font-size(.9);
    color: rgba($color-dark, .3);
    &:hover {
      color: $color-dark;
    }
    &::after{
      margin-left: 5px;
      content: "↫";
      opacity: 0;
      transition: opacity .2s ease-in-out;
    }
    &.active{
      color: $color-dark;
      &::after{
        opacity: 1;
      }
    }
  }

  /** Sticky **/
  &.sticky {
    position: fixed;
  }
}
