.toc{
  position: absolute;
  left: 50%;
  margin-left: 380px;
  width: 250px;
  padding: 0 .5rem;
  &__title{
    display: none;
    margin: 0;
  }
  @media (max-width: $break-tablet) {
    position: static !important;
    left: 0;
    margin-left: 0;
    &__title{
      display: block;
    }
    ul li > a + ul {
      display: none;
    }
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    line-height: 1.2;
    margin-bottom: 10px;
    > ul {
      padding-left: 8px;
    }
  }
  a {
    @include font-size(0.9);
    color: rgba($color-dark, 0.3);
    &:hover {
      color: $color-dark;
    }
    &:after{
      opacity: 0;
      content: "↫";
      margin-left: 5px;
      transition: opacity 0.2s ease-in-out;
    }
    &.active{
      color: $color-dark;
      &:after{
        opacity: 1;
      }
    }
  }
  /** Sticky **/
  &.sticky {
    position: fixed;
  }
}
