<footer id="colophon" class="site-footer">
  <nav role="navigation" class="site-footer__nav">
    {{ range .Site.Menus.footer }}
    <a href="{{ .URL }}" class="sub-color">{{ .Title }}</a>
    {{ end }}
  </nav>
  <a class="license-url" aria-label="license" rel="noopener" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank"><img loading="lazy" src="/img/license.png" alt="Content license" height="15"></a>
  <p><a href="https://github.com/12bitvn/12bit.vn" rel="noreferrer" target="_blank">Đóng góp trên GitHub</a></p>
</footer><!-- #colophon -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1720145964172677"
        crossorigin="anonymous"></script>
<!-- single page -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1720145964172677"
     data-ad-slot="8037987443"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
