<footer id="colophon" class="site-footer">
  <nav role="navigation" class="site-footer__nav">
    {{ range .Site.Menus.footer }}
    <a href="{{ .URL }}" class="sub-color">{{ .Title }}</a>
    {{ end }}
  </nav>
  <a class="license-url" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank"><img src="/img/license.png" height="15"></a>
  <p>Đóng góp nội dung trên <a href="https://github.com/12bitvn/12bit.vn" target="_blank">GitHub</a></p>
</footer><!-- #colophon -->
</div>
<!-- #wrap -->
{{ template "_internal/google_analytics_async.html" . }}
{{ $app := resources.Get "js/app.js"}}
{{ if .IsPage }}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  {{ $highlightJs := resources.Get "js/highlight.pack.js"}}
  {{ $commentJs := resources.Get "js/comment.js" }}
  {{ $md5 := resources.Get "lib/md5.js" }}
  {{ $js := slice $app $highlightJs $md5 $commentJs | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint}}
  <script src="{{ $js.RelPermalink }}" async defer onload="hljs.initHighlightingOnLoad();"></script>
{{ else }}
  {{ $js := $app | resources.Minify | resources.Fingerprint}}
  <script src="{{ $js.RelPermalink }}" async defer></script>
{{ end }}


{{ if ($.Page.Scratch.Get "include_embedly") "true" }}
<style class="embedly-css">
.pair-bd .art-bd{
  padding: 0;
}
.card .hdr {
  display:none;
}
.card .brd {
  display:none;
}
</style>
<script src="//cdn.embedly.com/widgets/platform.js" async defer></script>
{{ end }}

{{ if ($.Page.Scratch.Get "include_caniuse") "true" }}
<script async src="https://cdn.jsdelivr.net/gh/ireade/caniuse-embed/caniuse-embed.min.js"></script>
{{ end }}
{{ if ($.Page.Scratch.Get "include_mermaid") "true" }}
<script async src="https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js"></script>
{{ end }}
{{ if ($.Page.Scratch.Get "include_image_zoom") "true" }}
<script src="https://unpkg.com/medium-zoom@1.0.2/dist/medium-zoom.min.js" async defer onload="mediumZoom('[data-zoomable]');"></script>
{{ end }}
</body>
</html>
