.comment {
  &__list{
    margin-top: 40px;
  }
  &__tab-content{
    margin-top: 20px;
  }
  /** Comment tabs **/
  &__tabs {
    font-size: 0;
  }
  &__tab-btn {
    background-color: #fff;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: -1px;
    @include font-size(1);
    &.active {
      border-bottom: 2px solid $color-primary;
      font-weight: $font-weight-bold;
      cursor: initial;
      border-radius: 4px 4px 0 0;
    }
  }
  /** Form Input **/
  &__form-input {
    margin-bottom: 1rem;
    position: relative;
    &__tip{
      position: absolute;
      right: 10px;
      bottom: 10px;
      opacity: .5;
    }
    &:last-child {
      margin-bottom: 0;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      border-radius: 4px;
      border: 2px solid rgba($color-dark, .2);
      padding: 10px 10px;
      outline: none;
      @include font-size(1);
      &:focus {
        border-color: $color-primary;
      }
    }
    textarea {
      height: 100px;
    }
    input[type="checkbox"],
    input[type="radio"] {
      width: auto;
    }
    input[type="submit"] {
      width: auto;
      border: none;
    }
    small {
      display: block;
      text-align: right;
    }
  }
  /** Comment Item **/
  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    .avatar {
      margin-right: 1rem;
      width: 60px;
      height: 60px;
    }
    .avatar img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }
    .author {
      margin: 0;
      padding: 0;
    }
    .author time {
      margin-left: 10px;
      font-weight: $font-weight-normal;
      color: rgba($color-dark, .5);
    }
    .content {
      margin: 0;
      p {
        margin-bottom: 1rem;
      }
    }
  }
}
