.comment {
  /** Comment Heading **/
  &__form {
    margin-bottom: 2rem;
  }
  /** Form Input **/
  &__form-input {
    margin-bottom: 1rem;
    label {
      display: block;
      @include font-size(1)
    }
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      border-radius: 4px;
      border: 2px solid rgba($color-dark, .2);
      padding: 10px 10px;
      outline: none;
      @include font-size(1);
      &:focus {
        border-color: $color-primary;
      }
    }
    textarea {
      height: 100px;
    }
    input[type="checkbox"],
    input[type="radio"] {
      width: auto;
    }
    input[type="submit"] {
      width: auto;
      border: none;
    }
  }
  /** Comment Item **/
  &__item {
    display: flex;
    align-items: flex-start;
    margin: 1.5rem 0;
    @include font-size(1);
    .avatar {
      margin-right: 1rem;
      width: 60px;
      height: 60px;
    }
    .avatar img {
      border-radius: 50%;
      width: 100%;
      height: auto;
    }
    .author {
      margin: 0;
      padding: 0;
    }
    .author time {
      margin-left: 10px;
      font-weight: $font-weight-normal;
      color: rgba($color-dark, .5);
    }
    .content {
      white-space: pre-line;
    }
  }
}
