@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&subset=vietnamese');
$font-body: 'Inconsolata', monospace;
$font-title: 'Inconsolata', monospace;
$font-monospace: 'Inconsolata', monospace;
$font-weight-normal: 400;
$font-weight-bold: 700;

$content-width: 750px;

$color-primary: #42b983;
$color-secondary: '';
$color-dark: #2c2c2c;
$color-gray: #ccc;
$color-light: rgba($color-dark, .5);
