$article-element-gap: 1.5rem;

@import "../lib/highlight";
@import "../lib/reset";
@import "../lib/instance-search";

@import "variables";
@import "mixins";
@import "comment";
@import "shortcodes/index";
@import "components/index";

body {
  font-family: $font-body;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: $color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt{
  font-family: $font-title;
  font-weight: 600;
}
p{
  margin-top: 0;
}
a {
  color: $color-primary;
  text-decoration: none;
  &:hover {
    color: $color-dark;
  }

  &.sub-color {
    color: $color-light;
    &:hover {
      color: $color-dark;
    }
  }
}

dd {
  margin-left: 0;
}

ol,
ul{
  li {
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
    > ol,
    ul{
      margin-top: 15px;
    }
  }
}

a[target="_blank"] {
  &::after {
    $newtab-link-icon: "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' class='i-external' viewBox='0 0 32 32' width='14' height='14' fill='none' stroke='#{$color-light}' stroke-linecap='round' stroke-linejoin='round' stroke-width='9.38%'><path d='M14 9 L3 9 3 29 23 29 23 18 M18 4 L28 4 28 14 M28 4 L14 18'/></svg>";
    position: relative;
    top: -2px;
    margin-left: 5px;
    content: url($newtab-link-icon);
  }
}

.heart {
  color: rgb(230, 29, 29);
}

.rendered-text {
  text-indent: -999999px;
}

sub,
sup {
  font-size: 80%;
}

.footnote-ref {
  font-weight: 600;
}

.footnote-return {
  position: relative;
  top: -.5em;
  sup {
    top: 0;
  }
}

.button {
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  background-color: $color-primary;
  border: none;
  border-radius: 4px;
  &:hover {
    opacity: .9;
  }
  &--outline {
    color: $color-primary;
    background-color: #fff;
    border: 1px solid $color-primary;
    &:hover {
      color: #fff;
    }
  }
}

#wrap {
  position: relative;
  max-width: $content-width;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  @include breakpoint(tablet) {
    padding-right: 25px;
    padding-left: 25px;
  }
}

/***** HEADER *****/
.site-header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  @include breakpoint(tablet) {
    flex-flow: row;
    padding: 2rem 0;
  }
  .left {
    text-align: center;
    @include breakpoint(tablet) {
      text-align: left;
    }
  }
  .site-title {
    @include font-size(2);
    margin: 10px 0;
    line-height: 0;
    @include breakpoint(tablet) {
      margin: 0;
      @include font-size(3);
    }
    a {
      font-size: 0;
      color: $color-dark;
    }
    .logo{
      height: 25px;
    }
  }
  .site-desc {
    margin: 0;
    font-weight: $font-weight-normal;
  }
  .site-navigation {
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        margin: 0;
      }
      a{
        display: block;
        font-size: .875rem;
      }
    }
    &__item{
      padding-left: 20px;
      &:first-child{
        padding-left: 0;
      }
    }
    .cta {
      padding: 5px 15px;
      font-weight: 600;
      color: $color-primary;
      border: 2px solid $color-primary;
      border-radius: 4px;
      &:hover {
        color: #fff;
        background-color: $color-primary;
      }
    }
  }
}

.site-content{
  margin-top: 50px;
}

/***** ARTICLE ITEM *****/
.article {
  position: relative;
  margin: 0 0 .75rem;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    border: none;
  }
  &__title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.25rem;
    color: $color-primary;
    @at-root .list &{
      margin-bottom: 0;
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
  &__intro {
    color: $color-light;
  }
  &__meta {
    margin-bottom: 10px;
    color: $color-light;
    @at-root .list &{
      @include font-size(.9);
    }
    a {
      &::after {
        display: none;
      }
    }
  }
  &__content {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .guest-post {
    padding: .125rem .25rem;
    color: #852202;
    background: #ffcc7d;
    border-radius: 4px;
  }
}

.article-format {
  iframe,
  .runkit{
    margin-bottom: $article-element-gap;
  }
  p,
  dd {
    margin: 0 0 $article-element-gap;
    a {
      text-decoration: underline;
    }
  }
  ol,
  ul {
    li {
      position: relative;
      margin-bottom: 10px;
    }
  }
  ol {
    padding-left: 30px;
    list-style: numeric;
  }
  ul {
    padding: 0 0 0 .875rem;
    list-style: none;
    li {
      padding-left: 15px;
      &::before {
        position: absolute;
        left: 0;
        content: "-";
      }
    }
  }
  strong {
    font-weight: 600;
  }
  em {
    font-style: italic;
  }
  code {
    font-family: $font-mono;
  }
  pre {
    display: inline-block;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: auto;
    clear: both;
    font-size: 15px;
    background-color: #faf8f588 !important /* stylelint-disable-line declaration-no-important */;
    border: 1px solid #dfe2e588;
    border-radius: 8px;
  }
  code:not(.hljs) {
    font-size: 1rem;
    background-color: #faf8f588;
    border: 1px solid #dfe2e588;
    border-radius: .25rem;
  }
  li code,
  p code {
    padding: 0 4px;
  }
  a {
    font-weight: $font-weight-semibold;
    color: $color-primary;
    &:hover {
      color: #fff;
      background-color: $color-primary;
    }
  }
  h1,
  h2,
  h3,
  dt {
    margin-top: 0;
    &::before {
      margin-right: 5px;
      font-weight: 400;
      color: $color-light;
    }
  }
  h2,
  dt{
    margin-bottom: 18px;
    @include font-size(1.4);
  }
  h3{
    @include font-size(1.3);
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
  }
  blockquote {
    padding-left: 1rem;
    margin-right: 0;
    margin-left: 0;
    font-size: 1.5rem;
    font-style: italic;
    color: rgba($color-dark, .75);
    border-left: 2px solid rgba($color-dark, .2);
  }
  figure {
    padding: 0;
    margin: 1rem 0;
    text-align: center;
    a {
      font-size: 0;
      &::after {
        display: none;
      }
    }
  }
  .filename {
    position: relative;
    padding: .5rem 1rem;
    margin-bottom: -3px;
    font-size: 14px;
    color: #fff;
    background-color: #000;
    border-radius: 4px 4px 0 0;
  }
}

/***** FOOTER *****/
.site-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  margin-top: 4rem;
  font-family: $font-title;
  text-align: center;
  border-top: 1px solid lighten($color-light, 70);
  @include font-size(.9);
  p {
    margin: 0;
  }
  &__nav {
    a {
      padding: 17px;
    }
  }
  a::after{
    display: none;
  }
  .license-url{
    line-height: 0;
  }
}


/***** PAGINATION *****/
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 60px 0 0;
  list-style: none;
  .page-item{
    margin: 0;
    a{
      padding: 10px;
    }
    &.active{
      border: 2px solid $color-primary;
      border-radius: 4px;
      a {
        font-weight: 600;
        color: $color-primary;
      }
    }
  }
}

figcaption{
  h4{
    margin: 0;
    font-weight: 400;
    text-align: center;
    @include font-size(.9);
  }
}

.gitinfo{
  @include font-size(.9);
  &__contributor{
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    font-style: normal;
    text-decoration: none;
    background: #f3f3f3;
    border-radius: 4px;
    &[open]{
      display: block;
      padding: 10px;
      margin: 20px 0;
      summary{
        margin-bottom: 5px;
      }
    }
    summary{
      font-weight: 600;
      cursor: pointer;
      outline: none;
    }
    ul{
      padding-left: 15px;
      margin: 0;
      list-style: none;
      li{
        margin-bottom: 5px;
      }
    }
    time{
      font-weight: 600;
    }
  }
}

.single-section{
  margin-bottom: 50px;
  &__title{
    @include font-size(1.3);
    margin-top: 0;
  }
}

.tags-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  h1 {
    margin-bottom: 0;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      margin: .5rem;
    }
  }
  .tag{
    padding: 5px;
    color: $color-primary;
    text-decoration: none;
    white-space: nowrap;
    background: #f3f3f3;
    border-radius: 4px;
    @include font-size(.9);
  }
}

.related-section{
  ul{
    padding-left: 0;
    list-style: none;
    li{
      position: relative;
      padding-left: 25px;
    }
    li::before{
      position: absolute;
      left: 5px;
      display: inline-block;
      content: "-";
    }
  }
}

.footnotes{
  margin-top: 50px;
  margin-bottom: 50px;
  hr{
    opacity: .3;
  }
}

.styled-table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #acd8ee;
}
.styled-table th {
  padding: 10px;
  text-align: left;
  background-color: #ddefef;
  border: solid 1px #fff;
}
.styled-table tbody td {
  padding: 10px;
  border: solid 1px #dee;
}

.save-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-top: 50px;
  background: #f3f3f3;
  border: 1px dashed $color-primary;
  border-radius: 4px;
}

.save-section,
.fb-save{
  margin-right: 5px;
  line-height: 0;
}

#search-wrap {
  position: relative;
  margin-top: 20px;
}

#search-box {
  .ais-search-box label{
    display: block;
  }
  .ais-search-box,
  input {
    width: 100%;
    max-width: 100%;
    border-color: rgba($color-dark, .2);
    border-width: 2px;
    box-shadow: none;
    &:focus {
      border-color: $color-primary;
    }
    &:focus + span > div > svg {
      fill: $color-primary;
    }
  }
  svg {
    fill: rgba($color-dark, .2);
  }
}

#hits {
  position: absolute;
  top: 52px;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
  .search-result-item {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba($color-light, .1);
    display: block;
    font-size: 1rem;
    &:hover {
      background-color: rgba($color-primary, .1);
    }
    .title {
      margin: 0;
      color: $color-dark;
      font-weight: 400;
      font-size: 1rem;
      em {
        font-style: normal;
        background-color: rgba($color-primary, .3);
      }
    }
    .meta {
      font-size: 0.875rem;
      color: $color-light;

      .type {
        text-transform: capitalize;
      }
    }
  }
  .na {
    display: block;
    padding: 1rem;
  }
}

.offline{
  & &--hide{
    display: none;
  }
  & &--display__block{
    display: block;
  }
}

.scrimba{
  margin-bottom: $article-element-gap;
  color: $color-primary;
  background-color: #e7ecf3;
  border-radius: 4px;
  a{
    position: relative;
    display: block;
    padding: 20px 20px 20px 67px;
    color: $color-primary;
    &:hover{
      color: #3d547a;
      background: transparent;
    }
    &::before{
      position: absolute;
      top: 18px;
      left: 22px;
      display: block;
      width: 30px;
      height: 30px;
      content: "";
      background-color: #73abfe;
      border-radius: 50%;
    }
    &::after{
      position: absolute;
      top: 28px;
      left: 34px;
      display: block;
      width: 0;
      height: 0;
      margin: 0;
      content: "";
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      border-left: 8px solid #fff;
    }
  }
}

.discord-banner::after {
  display: none;
}
