@import 'variables';
@import 'mixins';
@import 'comment';

body {
  font-family: $font-body;
  font-size: 18px;
  line-height: 1.6;
  font-weight: $font-weight-normal;
  color: $color-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  font-weight: $font-weight-bold;
}

a {
  text-decoration: none;
  color: $color-light;
  &:hover {
    color: $color-dark;
  }
}

a[target="_blank"] {
  &:after {
    $newtab-link-icon: "data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' class='i-external' viewBox='0 0 32 32' width='14' height='14' fill='none' stroke='#{$color-light}' stroke-linecap='round' stroke-linejoin='round' stroke-width='9.38%'><path d='M14 9 L3 9 3 29 23 29 23 18 M18 4 L28 4 28 14 M28 4 L14 18'/></svg>";
    content: url($newtab-link-icon);
    margin-left: 5px;
    position: relative;
    top: -2px;
  }
}

.heart {
  color: red;
}

#wrap {
  max-width: $content-width;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  @include breakpoint(tablet) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

/***** HEADER *****/
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  flex-flow: column;
  @include breakpoint(tablet) {
    padding: 2rem 0;
    flex-flow: row;
  }
  .left {
    text-align: center;
    @include breakpoint(tablet) {
      text-align: left;
    }
  }
  .site-title {
    @include font-size(2);
    margin: 10px 0;
    line-height: 1.0;
    @include breakpoint(tablet) {
      margin: 0;
      @include font-size(3);
    }
    a {
      color: $color-dark;
    }
    sup {
      color: #fff;
      top: -1.5rem;
      padding: 0 7px;
      border-radius: 50px;
      @include font-size(1);
    }
  }
  .site-desc {
    font-weight: $font-weight-normal;
    margin: 0;
  }
  .site-navigation {
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        display: block;
      }
    }
    &__item{
      padding-left: 20px;
      &:first-child{
        padding-left: 0;
      }
    }
    .cta {
      border: 2px solid $color-primary;
      color: $color-primary;
      border-radius: 4px;
      padding: 5px 15px;
      font-weight: $font-weight-bold;
      &:hover {
        color: #fff;
        background-color: $color-primary;
      }
    }
  }
}

/***** ARTICLE ITEM *****/
.article {
  margin: 2rem 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    border: none;
  }
  &__title {
    @include font-size(1.5);
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: $font-weight-normal;
    color: $color-primary;
    a {
      color: $color-primary;
    }
    @at-root .tils &{
      @include font-size(1.3);
    }
  }
  &__intro {
    color: $color-light;
  }
  &__meta {
    color: $color-light;
    margin-bottom: 10px;
    @at-root .tils &{
      @include font-size(1);
    }
  }
  &__content {
    p {
      margin: 1rem 0;
    }
    ol,
    ul {
      li {
        margin-bottom: 10px;
        position: relative;
      }
    }
    ol {
      list-style: numeric;
      padding-left: 30px;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        padding-left: 15px;
        &:before {
          content: '-';
          position: absolute;
          left: 0;
        }
      }
    }
    strong {
      font-weight: $font-weight-bold;
    }
    em {
      font-style: italic;
    }
    code, pre {
      font-family: $font-body;
      border-radius: 4px;
      font-size: 16px;
    }
    p code {
      background: rgba(0,0,0,.05);
      padding: 3px 4px;
      margin: 0 2px;
    }
    .hljs {
      padding: 1em;
    }
    a {
      color: $color-primary;
      &:hover {
        background-color: $color-primary;
        color: #fff;
      }
    }
    h1, h2 {
      &:before {
        color: $color-light;
        margin-right: 5px;
      }
    }
    h1:before {
      content: '#'
    }
    h2:before {
      content: '##'
    }
    img {
      max-width: 100%;
      height: auto;
    }
    blockquote {
      @include font-size(1.5);
      font-style: italic;
      border: 2px dashed rgba($color-dark, .1);
      border-radius: 4px;
      margin: 1rem 0;
      padding: 1rem;
    }
    figure {
      padding: 0;
      margin: 1rem 0;
      a {
        font-size: 0;
        &:after {
          display: none;
        }
      }
    }
  }
  &--til {
    .article__content {
      ul,
      ol {
        list-style: none;
        padding: 0;
        li {
          position: relative;
          &:before {
            content: '-';
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}

/***** FOOTER *****/
#colophon {
  padding: 2rem 0;
  margin-top: 4rem;
  font-family: $font-title;
  border-top: 1px solid $color-light;
  text-align: center;
  p {
    margin: 0;
  }
  .main-domain {
    color: $color-primary;
    font-weight: $font-weight-bold;
  }
}

/***** PAGINATION *****/
.pagination{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .page-item{
    a{
      padding: 10px;
    }
    &.active{
      border: 2px solid $color-primary;
      border-radius: 4px;
      a {
        color: $color-primary;
        font-weight: $font-weight-bold;
      }
    }
  }
}

figcaption{
  h4{
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-style: italic;
  }
}

.toc{
  &__title{
    margin: 0;
  }
  #TableOfContents > ul {
    list-style: none;
    padding-left: 0;
  }
}

.gitinfo{
  font-style: italic;
  @include font-size(.9);
}

.single-section{
  &__title{
    @include font-size(1.3);
    margin-top: 0;
  }
}
