<section id="js_comment" class="comment single-section offline--hide" data-slug="{{ .URL }}">
  <h1 class="comment__title single-section__title">Bình luận</h1>
  <form class="comment__form" @submit.prevent="postComment">
      <div class="comment__form-input">
        <textarea name="content" id="content" @focus="isFocusOnContent = true" v-model="content" placeholder="Bạn đang nghĩ gì?" required></textarea>
      </div>
      <template v-if="isFocusOnContent">
      <div class="comment__form-input">
          <label for="anonymous">
          <input type="checkbox" id="anonymous" v-model="isAnonymous">
          <span>Bình luận ẩn danh</span>
          </label>
      </div>
      <template v-if="!isAnonymous">
        <div class="comment__form-input">
          <label for="name">Tên</label>
          <input type="text" id="name" name="name" v-model="author" required>
        </div>
        <div class="comment__form-input">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" v-model="email" required>
        </div>
      </template>
      </template>
      <div class="comment__form-input">
        <input type="submit" value="Gửi bình luận" class="button">
      </div>
    </form>
  <div class="comment__list">
      <div class="comment__item" v-for="comment in comments" :key="comment.id" :id="comment.id">
      <div class="left">
          <div class="avatar">
          <img :src="comment.email | avatar(comment.author, getRandomHexColor())" :alt="comment.author">
          </div>
      </div>
      <div class="right">
          <h4 class="author">
          <span v-text="comment.author"></span>
          <time v-text="formatDate(comment.createdAt)"></time>
          </h4>
          <div class="content article__content" v-html="formatComment(comment.content)"></div>
      </div>
      </div>
  </div>
</section>
