.alert-box {
  padding: 1.5rem 1rem;
  margin-bottom: 1.5rem;
  border: 2px dashed rgba($color-dark, .2);
  border-radius: 4px;
  $list: "warning", "success", "danger", "info";
  p:first-child::before {
    padding-right: 10px;
  }
  p:last-child{
    margin-bottom: 0;
  }
  @each $alert in $list {
    &--#{$alert} {
      @extend %color-#{$alert};
    }
  }
  &--info {
    p:first-child::before {
      content: "💡";
    }
  }
  &--success {
    p:first-child::before {
      content: "🙌";
    }
  }
  &--warning {
    p:first-child::before {
      content: "⚠️";
    }
  }
  &--danger {
    p:first-child::before {
      content: "🚫";
    }
  }
}
