.contributors{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 1.5rem;
  .contributor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__avatar{
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 50%;
    }
    &__name{
      line-height: 1;
      &::after{
        display: none;
      }
    }
    &__metas{
      @include font-size(.9 );
    }
  }
}
