.oembed-card{
  padding: 0;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04), inset 0 0 0 1px rgba(0, 0, 0, .09);
  .embedly-card-hug{
    min-width: 100%;
    margin: 0 auto;
    line-height: 0;
    iframe{
      display: inline-block;
      min-width: 100%;
    }
  }
}
